

body{
    background: #CFCFCF;
}

header{
    background: #8B4513;
    width: 100%;
    height: 200px;
    border-radius: 20px;
}


nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline-block;
	margin:15px;  
   
    
}



nav a {    
	text-transform: uppercase;
	color: #0f0f0f;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;    
    font-family: 'Dancing Script', cursive;
    
 }

nav a:hover {
    
    background-color: antiquewhite;
	color:#8B5742;
	text-decoration: underline;
    
   
}

.container {
	position: relative;
	width: 800px;
	margin: 0 auto;
}
.fotologo{   
    display: flex;
    justify-content: center;    
      
}

/*aba Home*/



/*aba calculadora*/
.titulo-primario{
font-size: 20px;
text-align: center;
color: #8B4726;
font-family: 'Dancing Script', cursive;

}

.titulo-secundario{
    font-size:30px;
    padding-top: 0;
    font-style: italic;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#8B4513;
    }

.subtitulos{
    font-size: 20px;    
    font-family: 'Poppins', sans-serif;

}

.img{
    display: flex;
    justify-content: center;
}
.copyright{
 text-align: center;

}

.parede{
   margin-top: 5px; 
}

.janela, .porta{
    margin: 10px 0 5px 0; 
    
  
}

.fieldcalc{
    margin-bottom: 40px; 
}




/*aba formulario*/

.contato{
    color: #c04609;
    font-family: 'Poppins', sans-serif;
}

.fraseform{
    font-size: 18px;
}

.campo{
    width: 300px;
    height: 200px;
    color: black;   
    margin-top: 10px;
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
}

.input-form{
    width: 250px;
    margin-top: 10px;
    
}

.enviar{
    background-color: #f0530b;
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid;
    color: black;

}

.field {
    width:400px;
}


