body{
    background: #CFCFCF;
}

header{
    background:#CD853F;
    padding: 20px 0;
    border-radius: 30px;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
    
}

nav a {
    
	text-transform: uppercase;
	color: #696969;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
 }
nav a:hover {
    
    background-color: antiquewhite;
	color:#8B5742;
	text-decoration: underline;
}

.container {
	position: relative;
	width: 800px;
	margin: 0 auto;
}
.fotologo{    
   
    margin: auto;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;    
   
    
}
/*aba Home*/
.banner{
    
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.284), rgba(0,0,0,0.280)), url('parede1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-family: 'Dancing Script', cursive;
}


/*aba calculadora*/
.titulo-primario{
font-size: 20px;
text-align: center;
color: #8B4726;
font-family: 'Dancing Script', cursive;

}

.titulo-secundario{
    font-size:30px;
    padding-top: 0;
    font-style: italic;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#8B4513;
    }

.subtitulos{
    font-size: 20px;    
    font-family: 'Poppins', sans-serif;

}

.img{
    display: flex;
    justify-content: center;
}
.copyright{
 text-align: center;

}

.parede{
   margin-top: 5px; 
}

.janela, .porta{
    margin: 10px 0 5px 0; 
    
  
}

.fieldcalc{
    margin-bottom: 40px; 
}




/*aba formulario*/

.contato{
    color: #c04609;
    font-family: 'Poppins', sans-serif;
}

.fraseform{
    font-size: 18px;
}

.campo{
    width: 300px;
    height: 200px;
    color: black;   
    margin-top: 10px;
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
}

.input-form{
    width: 250px;
    margin-top: 10px;
    
}

.enviar{
    background-color: #f0530b;
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid;
    color: black;

}

.field {
    width:400px;
}


